.lc-popular-products {
  background-image: url(../img/abstract-bg-2.jpg);
  background-size: cover;
  background-position: center;

  .splide__track {
    padding: 0 1.15rem 2rem 1.15rem;
  }

  .splide__slide {
    height: auto;
  }

  &__slider {
    .splide__arrows {
      margin-bottom: 1rem;
    }
  }

  &__meta {
    margin-bottom: 0;
  }
}
